/* CUSTOM PROPERTY */


:root {
    
    /* COLORS */

    /* primary */
    --darkblue05: #091B6F;
    --darkblue04: #0D28A6;
    --darkblue03: #5E70C4;
    --darkblue02: #AEB7E1;
    --darkblue01: #CFD4ED;
    --limegreen05: #3D7B3F;
    --limegreen04: #5CB85F;
    --limegreen03: #92D094;
    --limegreen02: #C9E7CA;
    --limegreen01: #DEF1DF;
    --default: #F1F3FF;


    /* alert */
    --alert-red: #FA2C5A;
    --alert-yellow: #F9CC00;
    --alert-green: #73CA5C;

    /* neutral */
    --neutral05: #151515;
    --neutral04: #3C3C3C;
    --neutral03: #8A8A8A;
    --neutral02: #D0D0D0;
    --neutral01: #FFFFFF;
    --black: #0000;


    
    /* TYPOGRAHPY */

    /* font family */
    --font-helvetica: "Helvetica";

    /* font size */
    --fs-large: 36px;
    --fs-heading-large: 24px;
    --fs-heading-medium: 20px;
    --fs-title-large: 18px;
    --fs-title-medium: 16px;
    --fs-body-large: 14px;
    --fs-body-medium: 12px;
    --fs-body-small: 10px;


    /* Transition */
    --transition-1: 0.15s ease-in-out;
    --transition-2: 0.15s ease-in;
    --transition-3: 0.25s ease-out;

}


/* RESET */



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-helvetica);
}

a { text-decoration: none; }

li { list-style: none; }

ul { padding-left: 0rem !important;  }


a,
img,
span,
input,
button,
ion-icon { display: block; }

ion-icon {
    border: none;
    background-color: inherit;
}

button {
    border: none;
    cursor: pointer;
}

body { overflow-x: hidden; }

body.active { overflow-y: hidden; }


/* REUSED STYLE */
.container { padding-inline: 15px; }

.btn {
    color: #fff !important;
    gap: 10px;
    display: flex;
    padding: 8px 12px;
    border-radius: 2px;
}

.btn-primary { 
    border-radius: 2px;
    background: var(--limegreen04) 
}




/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--default);
    z-index: 4;
    padding-block: 24px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-actions { display:none; }

.nav-open-btn {
    padding: 5px;
}


.nav-open-btn ion-icon { --ionicon-stroke-width: 40px; }

.navigasi {
    position: fixed;
    top: 0;
    right: -300px;
    width: 100%;
    max-width: 280px;
    
    height: 100%;
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    z-index: 2;
    transition: var(--transition-2);
}

.navigasi.active {
    right: 0;
    background: var(--neutral01);
    visibility: visible;
    transition: var(--transition-3);
}

.navigasi-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.nav-close-btn {
    font-size: 25px;
    padding: 10px;
    transform: translateX(15px);
}

.navigasi-list {
    margin-bottom: 30px;
}

.navigasi-list li a {
    text-decoration: none !important;
    font-size: var(--fs-body-large);
    font-weight: var(--fw-400);
    line-height: 20px;
}

.navigasi-link {
    font-size: 15px;
    padding: 10px 25px;
    font-weight: var(--fw-500);
    transition: 0.15s ease-in-out;
}

.navigasi-register {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 15px;
    margin-left: 25px;
}

.overlay {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-2);
}

.overlay.active {
    background: hsla(0, 0%, 0%, 0.7);
    pointer-events: all;
    transition: var(--transition-3);
}

.logo {
    text-decoration: none;
}

h4.text-logo {
    margin-top: 13px;
}


/* HERO */

.hero {
    background: var(--default)
}

.hero-section {
    margin-top: 70px;
    padding-top: 20px;
}

h1.heading-hero {
    min-width: 250px;
    font-weight: 700;
    font-size: var(--fs-large);
    line-height: 54px;
}

p.detail-heading {
    margin-top: 20px;
    font-weight: 300;
    font-size: var(--fs-body-large);
    line-height: 20px;
    width: 280px;
    margin-bottom: 20px;
}

a.btn-hero {
    width: 155px;
    font-size: 14px;
    margin-bottom: 30px;
}

.imagehero-section {
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: right;
}

.imagehero-section img {
    width: 280px;
    right: 0;
}


/* SERVICE */

.service {
    margin-top: 50px;   
}

.imageservice-section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.imageservice-section img {
    width: 250px;
    margin-right: 30px;
}

h1.heading-service {
    min-width: 250px;
    font-weight: 700;
    font-size: var(--fs-heading-large);
    line-height: 36px;
    margin-bottom: 10px;
}

li.list-detail {
    margin-left: -5px;
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.list-detail p {
    font-size: var(--fs-body-large);
}